<a href="https://colab.research.google.com/github/pahwa1902/LearMachineLearning/blob/master/PbsKids.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import datetime
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import ast
import json

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [6]:
! ls '/content/drive/My Drive/'

'Colab Notebooks'
'Intro to Probability and Stochastic Processes by Dharmaraja.pdf'
 jkt.gslides
 ml-25m
 ppt5.ppt
 shobhitandchandrakant.pptx
 specs.csv
 Stocks
 test.csv
 train.csv
 train_labels.csv
'Untitled presentation.gslides'
 Week4-KNN.gslides

In [0]:
train = pd.read_csv('/content/drive/My Drive/train.csv')

In [4]:
train.head()

   event_id      game_session  ...      type      world
0  27253bdc  45bb1e1b6b50c07b  ...      Clip       NONE
1  27253bdc  17eeb7f223665f53  ...      Clip  MAGMAPEAK
2  77261ab5  0848ef14a8dc6892  ...  Activity  MAGMAPEAK
3  b2dba42b  0848ef14a8dc6892  ...  Activity  MAGMAPEAK
4  1bb5fbdb  0848ef14a8dc6892  ...  Activity  MAGMAPEAK

[5 rows x 11 columns]

In [0]:
train_data = pd.DataFrame(train)

In [6]:
(set(train_data['title']))

{'12 Monkeys',
 'Air Show',
 'All Star Sorting',
 'Balancing Act',
 'Bird Measurer (Assessment)',
 'Bottle Filler (Activity)',
 'Bubble Bath',
 'Bug Measurer (Activity)',
 'Cart Balancer (Assessment)',
 'Cauldron Filler (Assessment)',
 'Chest Sorter (Assessment)',
 'Chicken Balancer (Activity)',
 'Chow Time',
 'Costume Box',
 'Crystal Caves - Level 1',
 'Crystal Caves - Level 2',
 'Crystal Caves - Level 3',
 'Crystals Rule',
 'Dino Dive',
 'Dino Drink',
 'Egg Dropper (Activity)',
 'Fireworks (Activity)',
 'Flower Waterer (Activity)',
 'Happy Camel',
 'Heavy, Heavier, Heaviest',
 'Honey Cake',
 'Leaf Leader',
 'Lifting Heavy Things',
 'Magma Peak - Level 1',
 'Magma Peak - Level 2',
 'Mushroom Sorter (Assessment)',
 'Ordering Spheres',
 'Pan Balance',
 "Pirate's Tale",
 'Rulers',
 'Sandcastle Builder (Activity)',
 'Scrub-A-Dub',
 'Slop Problem',
 'Treasure Map',
 'Tree Top City - Level 1',
 'Tree Top City - Level 2',
 'Tree Top City - Level 3',
 'Watering Hole (Activity)',
 'Welcome to Lost Lagoon!'}

In [7]:
train_data[train_data['installation_id']=='0001e90f']['world'].unique()

array(['NONE', 'MAGMAPEAK', 'TREETOPCITY'], dtype=object)

In [0]:
label = pd.read_csv('/content/drive/My Drive/train_labels.csv')

In [0]:
labels = pd.DataFrame(label)

In [7]:
labels[labels['installation_id']=='0006a69f']

       game_session installation_id  ... accuracy  accuracy_group
0  6bdf9623adc94d89        0006a69f  ...      1.0               3
1  77b8ee947eb84b4e        0006a69f  ...      0.0               0
2  901acc108f55a5a1        0006a69f  ...      1.0               3
3  9501794defd84e4d        0006a69f  ...      0.5               2
4  a9ef3ecb3d1acc6a        0006a69f  ...      1.0               3

[5 rows x 7 columns]

In [28]:
#data = train_data[train_data['installation_id']=='00abaee7']
train_data[train_data['event_id']=='cfbd47c8']['event_data'].unique()

array(['{"weight":1,"source":"resources","resources":[3,3,1],"coordinates":{"x":298,"y":695,"stage_width":1015,"stage_height":762},"round":1,"event_count":13,"game_time":14435,"event_code":4030}',
       '{"weight":3,"source":"resources","resources":[1,3,1],"coordinates":{"x":448,"y":695,"stage_width":1015,"stage_height":762},"round":1,"event_count":16,"game_time":15952,"event_code":4030}',
       '{"weight":3,"source":"resources","resources":[1,1],"coordinates":{"x":606,"y":695,"stage_width":1015,"stage_height":762},"round":1,"event_count":21,"game_time":18002,"event_code":4030}',
       ...,
       '{"weight":3,"source":"scale","resources":[3,1,1],"coordinates":{"x":369,"y":410,"stage_width":1015,"stage_height":762},"round":1,"event_count":39,"game_time":37637,"event_code":4030}',
       '{"weight":1,"source":"resources","resources":[3,3,1],"coordinates":{"x":602,"y":695,"stage_width":1015,"stage_height":762},"round":1,"event_count":47,"game_time":43704,"event_code":4030}',
       '{"weight":1,"source":"resources","resources":[3,3,1],"coordinates":{"x":602,"y":695,"stage_width":1015,"stage_height":762},"round":1,"event_count":50,"game_time":46487,"event_code":4030}'],
      dtype=object)

In [24]:
#data = train_data[train_data['installation_id']=='00abaee7']
#data_asset = data[data['game_session']=='6bdf9623adc94d89']
train_data[data['event_id']=='ab3136ba']
#data_asset.groupby(['title']).event_id.count()

Empty DataFrame
Columns: [event_id, game_session, timestamp, event_data, installation_id, event_count, event_code, game_time, title, type, world]
Index: []

In [28]:
len(train_data['title'].unique())

44

In [0]:
event = pd.read_csv('/content/drive/My Drive/specs.csv')

In [0]:
event_data = pd.DataFrame(event)

In [21]:
event_data[event_data['event_id']=='cfbd47c8']['info']

331    This event occurs when the player clicks to pi...
Name: info, dtype: object

In [22]:
len(event)

386

In [0]:
columns = ['installation_id','Total game time','Total Activity time','Total Assessment time','game events','clip events','activity events','assessment type','game sessions','world_TreeTopCity','world_None','world_MagmaPeak','world_CrystalCaves']

In [0]:
pbstrain = pd.DataFrame(columns=columns)

In [13]:
data_user = train_data[train_data['installation_id']=='0006a69f']
data_time = data_user.groupby(['type']).game_time.sum()
print(data_time)

type
Activity      185450004
Assessment      6495310
Clip                  0
Game          121603005
Name: game_time, dtype: int64

In [14]:
user = train_data[train_data['installation_id']=='0006a69f']
total_time= user.groupby(['type']).game_time.sum()
assessment = user[user['type']=='Assessment']
assess_type = assessment['title'].unique()
print(assess_type)

['Mushroom Sorter (Assessment)' 'Bird Measurer (Assessment)']

In [0]:
def max_count(i,type):
  user = train_data[train_data['installation_id']==i]
  user[user['type']==type]['event_count'].max()

In [0]:
gamesession=[]
eventcount=[]
for i in train_data['installation_id'].unique():
  user = train_data[train_data['installation_id']==i]
 
  for j in user['title'].unique():
    user_title = user[user['title']==j]
    data_game = len(user_title['game_session'].unique())
    data_count = user[user['title']==j]['event_count'].max()
    gamesession.append(data_game)
    eventcount.append(data_count)

In [16]:
len(train_data)

11341042

In [0]:
data_session = (train_data.groupby(['installation_id','title']).game_session.unique())

In [0]:
data_event = (train_data.groupby(['installation_id','title']).event_id.unique())

In [15]:
print(data_event)

installation_id  title
0001e90f         Dino Drink                       [51311d7a, 5be391b5, c6971acf, a29c5338, 6c517...
                 Magma Peak - Level 1                                                    [27253bdc]
                 Magma Peak - Level 2                                                    [27253bdc]
                 Ordering Spheres                                                        [27253bdc]
                 Sandcastle Builder (Activity)    [77261ab5, b2dba42b, 1bb5fbdb, 1325467d, 37937...
                                                                        ...
fffc0583         Fireworks (Activity)             [4901243f, beb0a7b9, b88f38da, 02a42007, 88422...
                 Magma Peak - Level 2                                                    [27253bdc]
                 Ordering Spheres                                                        [27253bdc]
                 Tree Top City - Level 2                                                 [27253bdc]
                 Tree Top City - Level 3                                                 [27253bdc]
Name: event_id, Length: 159732, dtype: object

In [0]:
session = pd.DataFrame(data_session)

In [0]:
event = pd.DataFrame(data_event)

In [0]:
users = train_data['installation_id'].unique()

In [0]:
a = (event.loc['0001e90f'])

In [53]:
a.index.tolist()

['Dino Drink',
 'Magma Peak - Level 1',
 'Magma Peak - Level 2',
 'Ordering Spheres',
 'Sandcastle Builder (Activity)',
 'Scrub-A-Dub',
 'Tree Top City - Level 1',
 'Welcome to Lost Lagoon!']

In [0]:
features1 = event_data['event_id']+'_event'
features2 = event_data['event_id']+'_session'

In [22]:
features1

0      2b9272f4_event
1      df4fe8b6_event
2      3babcb9b_event
3      7f0836bf_event
4      ab3136ba_event
            ...
381    29f54413_event
382    06372577_event
383    2a444e03_event
384    9e6b7fb5_event
385    d3640339_event
Name: event_id, Length: 386, dtype: object

In [0]:
eventframe = pd.DataFrame(columns=features1)
sessionframe = pd.DataFrame(columns=features2)

In [0]:
features = event_data['event_id']

In [59]:
len(train_data['installation_id'].unique())

17000

In [0]:
for i in features:
  for j in train_data['installation_id'].unique():
    count_event=[]
    count_session=[]
    a = data_event.loc[j].index.tolist()
    b = data_event.loc[j].index.tolist()
    if(i in a):
      count_event.append(len((data_event.iloc[i,j].tolist())[0]))
    if(i not in a):
      count_event.append(0)
    if(i in b):
      count_session.append(len((data_session.iloc[i,j].tolist())[0]))
    if(i not in b):
      count_session.append(0)
  eventframe[i]=count_event
  sessionframe[i]=count_session

In [0]:
#Total users
users=train_data['installation_id'].unique()
users = users[:50]

In [0]:
train_data['timestamp'] = pd.to_datetime(train_data['timestamp'])

In [0]:
#Total event time
total_event_time=[]
game_sessions = []
events = []
game_events=[]
clip_events=[]
activity_events=[]
treetopcity = []
magmapeak=[]
crystalcave=[]
for i in users:
  a = train_data[train_data['installation_id']==i]
  max_time = max(a['timestamp'])
  min_time = min(a['timestamp'])
  b = max_time-min_time
  total_event_time.append(b.seconds)
  game_sessions.append(a['game_session'].nunique())
  events.append(a['event_code'].nunique())
  game_events.append(a[a['type']=='Game']['event_code'].nunique())
  clip_events.append(a[a['type']=='Clip']['event_code'].nunique())
  activity_events.append(a[a['type']=='Activity']['event_code'].nunique())
  treetopcity.append(a[a['world']=='TREETOPCITY']['event_code'].nunique())
  magmapeak.append(a[a['world']=='MAGMAPEAK']['event_code'].nunique())
  crystalcave.append(a[a['world']=='CRYSTALCAVES']['event_code'].nunique())

In [0]:
treetopcity_time=[]
magmapeak_time=[]
crystalcave_time=[]
avg_eventcount=[]
max_eventcount=[]
min_eventcount=[]
std_eventcount=[]
for i in users:
  a = train_data[train_data['installation_id']==i]
  data_world = a.groupby(['game_session','world']).game_time.max()
  data_event = a.groupby(['game_session','world']).event_count.max()
  data_world_df = pd.DataFrame(data_world)
  data_event_df = pd.DataFrame(data_event)
  data_world_df.reset_index(inplace=True)
  data_event_df.reset_index(inplace=True)
  magma = data_world_df[data_world_df['world']=='MAGMAPEAk']
  magmapeak_time.append(sum(magma['game_time']))
  treetop = data_world_df[data_world_df['world']=='TREETOPCITY']
  treetopcity_time.append(sum(treetop['game_time']))
  crystal = data_world_df[data_world_df['world']=='CRYSTALCAVES']
  crystalcave_time.append(sum(crystal['game_time']))
  max_eventcount.append(max(data_event_df['event_count']))
  min_eventcount.append(min(data_event_df['event_count']))
  avg_eventcount.append(sum(data_event_df['event_count'])/len(data_event_df))

In [0]:
avg_eventcount = pd.Series(avg_eventcount)

In [0]:
treetopcity_time = np.array(treetopcity_time).reshape(-1,1)
magmapeak_time = np.array(magmapeak_time).reshape(-1,1)
crystalcave_time = np.array(crystalcave_time).reshape(-1,1)

In [48]:
game_sessions = pd.Series(game_sessions)
events = pd.Series(events)
total_event_time = pd.Series(total_event_time)
game_events = pd.Series(game_events)
clip_events = pd.Series(clip_events)
activity_events=pd.Series(activity_events)

0.19982063555631474

In [0]:
column_games = train_data['title'].unique().tolist()

In [0]:
# game time with respect to each title
games_df = []
for i in users:
  a = train_data[train_data['installation_id']==i]
  data_games = a.groupby(['game_session','title']).game_time.max()
  data_games_df = pd.DataFrame(data_games)
  data_games_df.reset_index(inplace=True)
  data = [sum(data_games_df[data_games_df['title']==j]['game_time']) if j in data_games_df['title'].unique().tolist() else 0 for j in column_games]
  games_data = {column_games[j]:data[j] for j in range(len(column_games))}
  games_df.append(games_data)

In [0]:
game_data_df = pd.DataFrame(games_df)

In [0]:
#avg and max event count
avg_event=[]
max_event=[]
for i in users:
  a = train_data[train_data['installation_id']==i]
  event = a.groupby(['game_session']).event_id.agg(['size'])
  event_df = pd.DataFrame(event)
  event_df.reset_index(inplace=True)
  avg_event.append(sum(event_df['size'])/len(event_df))
  max_event.append(max(event_df['size']))

In [0]:
game_time=[]
activity_time=[]
clip_time=[]
max_game_session=[]
min_game_session=[]
for i in users:
  a = train_data[train_data['installation_id']==i]
  event_type = a.groupby(['game_session','type']).game_time.max()
  game_session_max = a.groupby(['game_session']).game_time.max()
  game_session_min = a.groupby(['game_session']).game_time.min()
  max_game_session.append(max(game_session_max))
  min_game_session.append(min(game_session_min))
  event_type_df = pd.DataFrame(event_type)
  event_type_df.reset_index(inplace=True)
  game = event_type_df[event_type_df['type']=='Game']
  game_time.append(sum(game['game_time']))
  activity = event_type_df[event_type_df['type']=='Activity']
  activity_time.append(sum(activity['game_time']))
  clip = event_type_df[event_type_df['type']=='Clip']
  clip_time.append(sum(activity['game_time']))

In [0]:
total_event_time = np.array(total_event_time).reshape(-1,1)
scaler = MinMaxScaler()
scaler.fit(total_event_time)
scaler.transform(total_event_time)

In [0]:
def total_duration(a):
  if('total_duration' in a):
    return a["total_duration"]
  else:
    return 0

In [0]:
def duration(a):
  if('duration' in a):
    return a["duration"]
  else:
    return 0

In [0]:
train_data = train_data.reindex(columns=train_data.columns.tolist()+['total_duration','duration'])

In [0]:

train_data['total_duration'] = train_data['event_data'].apply(lambda x:total_duration(json.loads(x)))
train_data['duration'] = train_data['event_data'].apply(lambda x:duration(json.loads(x)))

In [0]:
media_duration=[]
drag_duration=[]
for i in users:
  a = train_data[train_data['installation_id']==i]
  media_duration.append(sum(a['total_duration']))
  drag_duration.append(sum(a['duration']))

In [0]:
columns_event = event_data['event_id'].tolist()
event_columns=[]
for i in columns_event:
  event_columns.append(i+'_event')

In [0]:
event_data_columns=[]
for i in users:
  a = train_data[train_data['installation_id']==i]
  data_event = a.groupby(['event_id']).game_time.agg(['max'])
  data_event_df = pd.DataFrame(data_event)
  data_event_df.reset_index(inplace=True)
  data = [data_event_df[data_event_df['event_id']==j]['max'].values if j in data_event_df['event_id'].unique().tolist() else 0 for j in columns_event]
  events_data = {event_columns[j]:data[j] for j in range(len(columns_event))}
  event_data_columns.append(events_data)

In [0]:
event_data_df = pd.DataFrame(event_data_columns)

In [0]:
frames = [event_data_df,game_data_df,]
pd.concat(frames,axis=1)

In [44]:
event_data_df.head()

                         2b9272f4_event  ...                         d3640339_event
0   7    567463
Name: max, dtype: int64  ...                                      0
1                                     0  ...                                      0
2  30    116990
Name: max, dtype: int64  ...                                      0
3  27    155911
Name: max, dtype: int64  ...                                      0
4                                     0  ...  29    1684228
Name: max, dtype: int64

[5 rows x 386 columns]

In [0]:
for i in train_data['installation_id'].unique():
  user = train_data[train_data['installation_id']==i]
  total_time= user.groupby(['type']).game_time.sum()
  assessment = user[user['type']=='Assessment']
  assess_type = assessment['title'].unique()
  assess = ['Mushroom','Bird','Cart','Chest','Cauldron']
  
  
  dict_user = {'installation_id':i,'Total game time':total_time.values[3],'Total Activity time':total_time.values[0],'Total Assessment time':total_time.values[1],'game events':len(user[user['type']=='Game']['event_id']),'clip events':len(user[user['type']=='Clip']['event_id']),'activity events':len(user[user['type']=='Activity']['event_id'])
  'assessment_type':,'game sessions':len(user['game_session'].unique(),'world_TreeTopcity':len(user['world']=='TREETOPCITY'),'world_None':len(user['world']=='NONE'),'world_MagmaPeak':len(user['world']=='MAGMAPEAK'),'world_CrystalCaves':len(user['world']=='CRYSTALCAVES')}
  pbstrain.append()